/Suji_20240428_160844_over80_mr_bold_freesurfers
/Suji-20240428_200129_76-80_mr_bold_freesurfers
/UKB_Over_75_resting_functional_MRI
/bids_output
/work
/dbssus123-20240614_075307
/BIDS
/OASIS_614
/BIDS_UKB
/fmriprep_output
/derivatives_OASIS Sample
/OASIS-fMRIprep_output
/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606
/OASIS3_data_dict_Suji_to_XFL_Share_240606
/UKB_fmriprep_output
/dbssus123-20240611_023145
/OASIS_615_fmriprep_output
/OASIS_preprocessing/OAS30173